/*Guest Form*/
.guest-form {
	margin: 0 auto;
	padding-top: 30%;
	padding-bottom: 4%;
	background-image: url("../img/mail.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: left;
	font-size: 25px;
	
	&__paper {
		width: 90%;
		margin: 0 auto;
		padding: 30px;
		box-sizing: border-box;
		box-shadow: 0 0 12px 3px #505050;
		background-color: white;
		text-align: center;
	}

	&__row {
		margin-bottom: 20px;
	}

	&__fio {
		display: flex;
		justify-content: space-between;
	}

	&__input-block {
		position: relative;
		width: 48%;
		padding-top: 15px;
	}

	&__input {
		width: 100%;
		font-family: 'Poiret One', Arial, sans-serif;
		color: $font-color;
		font-size: 25px;
		font-weight: bold;
		text-align: left;
		border: none;
		border-bottom: 2px solid $font-color;
	}

	&__input-title {
		position: absolute;
		top: 15px;
		left: 0;
		transition: all 0.1s ease-in-out;
	}

	&__input:focus + &__input-title {
		top: 0;
		left: 0;
		font-size: 15px;
		transition: all 0.1s ease-in-out;
	}

	&__radio-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__radio {
		display: none;
	}

	&__radio-title {
		position: relative;
		padding-left: 30px;
	}

	&__radio-title::after {
		content: '';
		position: absolute;
		bottom: 2px;
		left: 0;
		display: block;
		width: 15px;
		height: 15px;
		border: 2px solid $font-color;
		border-radius: 4px;
		background-color: #fff;
	}

	&__radio-title:hover::after {
		background-color: #ccc;
	}

	&__radio:checked + &__radio-title::after {
		background-color: transparent;
	}

	&__radio-title::before {
		content: '';
		position: absolute;
		bottom: 7px;
		left: 7px;
		display: block;
		width: 5px;
		height: 10px;
		border-bottom: 2px solid $font-color;
		border-right: 2px solid $font-color;
		transform: translateX(-1px) rotate(45deg);
	}

	&__comment {
		width: 100%;
		margin-bottom: 10px;
		border: 2px $font-color solid;
		border-radius: 4px;
		font-size: 0.7em;
	}

	&__btn {
		display: block;
		margin: 0 auto;
		border-radius: 5px;
		color: $font-color;
		background-color: white;
		border: 2px $font-color solid;
	}

	&__btn:hover {
		background-color: #ccc;
	}
	
}

.fly-title {
	top: 0;
	left: 0;
	font-size: 15px;
	transition: all 0.1s ease-in-out;
}


@media screen and (max-width: 480px) {
	.guest-form {
		font-size: 18px;

		&__input {
			font-size: 16px;
		}
	}
}