.img-container {
	position: relative;

	&__img {
		width: 100%;
	}

	&__title {
		position: absolute;
		top: 10%;
		left: 50%;
		display: flex;
		transform: translateX(-50%);
	}

	&__names {
		font-size: 10vw;
		letter-spacing: 20px;
	}

	&__heart {
		width: 14vw;
		height: 15vw;
		margin: 0 4vw;
	}
}

@media screen and (max-width: 480px){
	
	.img-container {
		overflow: hidden;

		&__title {
			flex-direction: column;
			align-items: center;
		}

		&__heart {
			margin: 15px;
			width: 65px;
			height: 70px;
		}

		&__names {
			font-size: 45px;
		}

		&__img {
			position: relative;
			left: 50%;
			width: auto;
			height: 100vh;
			transform: translateX(-50%);
		}
	}
}