.place {
	position: relative;
	margin-top: 150px;
	margin-bottom: 30px;
	font-size: 2.5em;

	&__title {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__block {
		padding: 50px 2%;
		border: 2px $font-color solid;
	}
}

#map {
	font-size: 2.5em;
}


@media screen and (max-width: 480px) {
	.place {
		font-size: 18px;
	}

	#map {
		font-size: 2em;
	}
}