@import "_normalize.scss";
/*Main styles*/
@import "var";
@import "header";
@import "navigation";
@import "colors";
@import "timing";
@import "form";
@import "popup";
@import "map";

body {
	margin: 0;
	font-family: 'Poiret One', Arial, sans-serif;
	color: $font-color;
	font-weight: bold;
	font-size: 62.5%;
}

button:focus,
input:focus {
	outline: none;
}

.container {
	max-width: 740px;
	margin: auto;
	padding: 0 10px;
	text-align: center;
}

.invite {
	margin-top: 80px;
	margin-bottom: 50px;
	width: 100%;
}

#up {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: $font-color solid 3px;
	background-color: rgba(0,0,0,0.2);
}

#up::before {
	content: '';
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	width: 3px;
	height: 14px;
	background-color: $font-color;
}

#up::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 50%;
	width: 10px;
	height: 10px;
	border-left: 3px $font-color solid;
	border-top: 3px $font-color solid;
	transform: translateX(-50%) rotate(45deg);
}

.up {
	display: block !important;
}