@import "normalize";
/*Main styles*/
@import "var";
@import "header";
@import "navigation";
@import "form";

body {
	margin: 0;
	font-family: 'Poiret One', Arial, sans-serif;
	color: $font;
	font-weight: bold;
	font-size: 62.5%;
}

button:focus,
input:focus {
	outline: none;
}

.container {
	max-width: 740px;
	margin: auto;
	padding: 0 10px;
	text-align: center;
}

.invite {
	width: 100%;
}

.time {
	border: 2px solid $font;
	font-size: 2.5em;
}

.main-footer {
	
}

@media screen and (max-width: 414px){

	.time {
		font-size: 28px;
	}
}